# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
go.work.sum

# Environment
.env

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
*.log
.docker/

# Логи
*.log
logs/

# Временные файлы
tmp/
temp/
*.tmp

# Сборка
dist/
build/
main.exe

#ml_service
**/embedder/