{{template "base.html" .}}

{{define "content"}}
<div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full bg-t2-white text-t2-black border-2 border-t2-black p-8">
        <h2 class="text-2xl font-bold text-center mb-6 tracking-widest">ВХОД</h2>
            <div id="auth-form">
                <form hx-post="/auth/register"
                    hx-target="#auth-form"
                    hx-swap="outerHTML"
                    class="space-y-4">
                    <div>
                        <label class="block text-sm font-bold tracking-wider">EMAIL</label>
                        <input type="email"
                            name="email"
                            placeholder="your@email.com"
                            required
                            class="mt-1 w-full px-4 py-2 border-2 border-t2-black bg-t2-white text-t2-black rounded-none">
                    </div>
                    <button type="submit"
                            class="w-full bg-t2-black text-t2-white py-2 px-4 rounded-none hover:bg-t2-magenta transition font-bold tracking-wider text-sm">
                        ПОЛУЧИТЬ КОД
                    </button>
                </form>
            </div>
    </div>
</div>
{{end}}
